h2 {
    display: flex;
    justify-content: center;
}
header {
    border-bottom: 1px solid;
    margin-bottom: 30px;
    margin-top: 0px;
    margin-left: 25vh;
    margin-right: 25vh;
    border-color:rgb(0, 0, 0);
    display: grid;
    grid-template-columns: 20% 60%;
    top: 0px;
    position:sticky;
}
.MonthDay1 {
    background-color: 240, 240, 240;
    border: 1px solid;
    margin: 0%;
    padding: 0%;
    background-image: url(light-website-backgrounds-light-color-background-images-light-color-background-images-for-website-1024x640.jpg);
    
}
.MonthDay2 {
    color: darkgrey;
   }
.Ordring {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}
.fullSchedule {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 15vh;
}
nav a {
    text-decoration: none;
    color: black;
}
nav a:hover {
    color: blanchedalmond;
}
h3 {
    margin-left: 10%;
}
li {
  user-select: none;
  line-height: 1.5rem;
  }
  
  li:hover {
    font-weight: bold;
    text-decoration: line-through 2px;
  }
  
  input {
    border: 0;
    color: black;
    border-bottom: solid 1px;
    margin: 5vh 1px;
    background: transparent;
    outline: none;
  }
  
  input:focus {
    border-bottom-width: 2px;
  }
  
  button {
    color: black;
    background: transparent;
    border: 1;
    font-size: 1.3rem;
  }
  
  button:hover{
    color: antiquewhite;
  }

