h2 {
    display: flex;
    justify-content: center;
}
header {
    border-bottom: 1px solid;
    margin-bottom: 30px;
    margin-top: 0px;
    margin-left: 25vh;
    margin-right: 25vh;
    border-color:rgb(0, 0, 0);
    display: grid;
    grid-template-columns: 20% 60%;
}
.MonthDay1 {
    background-color: 240, 240, 240;
    border: 1px solid;
    margin: 0%;
    padding: 0%;
    background-image: url(light-website-backgrounds-light-color-background-images-light-color-background-images-for-website-1024x640.jpg);
    
}
.MonthDay2 {
    color: darkgrey;
   }
.Ordring {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}
.fullSchedule {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 15vh;
}
nav a {
    text-decoration: none;
    color: black;
}
nav a:hover {
    color: blanchedalmond;
}
h3 {
    margin-left: 10%;
}
li {
    line-height: 2rem;
    list-style: circle;
    cursor: pointer;
    user-select: none;
  }
  
  li:hover {
    font-weight: bolder;
    text-decoration: line-through 2px;
  }
  
  input[type="text"] {
    margin: 1.5rem 0;
    outline: none;
    background: transparent;
    border: 0;
    color: inherit;
    border-bottom: 1px solid currentColor;
  }
  
  input[type="text"]:focus {
    border-bottom-width: 3px;
  }
  
  button {
    background: transparent;
    border: 0;
    font-size: 1.5rem;
    color: inherit;
    cursor: pointer;
  }
  
  button:hover,
  button:focus {
    font-weight: bolder;
    outline: none;
  }
